﻿<p>Add User using the form below:</p>
<form id="addUsersForm">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" placeholder="Enter new user username">
	</div>
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
		<small id="emailHelp" class="form-text text-muted">example@email.com</small>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Password">
 	</div>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" placeholder="Enter new user name">
	</div>
	<div class="form-group">
		<label for="surname">Surname</label>
		<input type="text" class="form-control" id="surname" placeholder="Enter new user surname">
	</div>
	<div class "form-group">
		<label for="roles">Role</label>
		<select multiple class="form-control" id="roles">
			<option>admin</option>
			<option>teacher</option>
			<option>student</option>
		</select>
	</div>
	</br>
	<button type="submit" class="btn btn-primary form-check-inline">Add</button>
	<button type="reset" class="btn form-check-inline">Reset</button>
</form>