﻿@{ 
    ViewBag.Title = "Manage Courses";
} 
@Scripts.RenderFormat("<script src='{0}' defer></script>","~/Scripts/ajaxGetCourse.js")

<br>
<br>
<h2>@ViewBag.Title</h2> 

<div class="container">
	<div class="row">
		<div class="col-xs-6" style="width:20%">
		<div class="well">
			<ul style="list-style:none;" id="manageCourseLinks">
				<li><button type="button" class="btn btn-link" id="listCourses">List Courses</button></li>
				<li><button type="button" class="btn btn-link" id="addCourse">Add Course</button></li>
				<li><button type="button" class="btn btn-link" id="removeCourse">Romove Course</button></li>
				<li><button type="button" class="btn btn-link" id="updateCourse">Update Course</button></li>
			</ul>
		</div>
		</div>
		<div class="col-xs-6" style="width:75%" >
		<div class="well" id="courseBox">
			<p id = "courseBox2"></p>
		</div>
		</div>
	</div>
</div>