﻿@using Microsoft.AspNet.Identity
@using trainer4

@{ 
    ViewBag.Title = "Manage Users";
}
@section AddToHead {
    <link href="@Url.Content("~/Content/Custom/modalDialogStyle.css")" rel="stylesheet" type="text/css" />
}
<script type='text/javascript' > 
  var user_IDs = ""; 
</script>

@Scripts.RenderFormat("<script src='{0}' defer></script>","~/Scripts/ajaxGetUsersList.js")
@Scripts.RenderFormat("<script src='{0}' defer></script>","~/Scripts/clickableTableRows.js")
@Scripts.RenderFormat("<script src='{0}' defer></script>","~/Scripts/Admin/ajaxAddUsers.js")
@Scripts.RenderFormat("<script src='{0}' defer></script>","~/Scripts/Admin/ajaxSubmitUsersForm.js")


<br>
<br>
<h2>@ViewBag.Title</h2> 

<div class="container">
	<div class="row">
	@if(User.Identity.IsAuthenticated){
		if(RoleChecker.IsUserInRole(User.Identity.GetUserId(), "admin")){
			<ul class="nav nav-tabs nav-stacked navbar-collapse" style="width:20%">
       		 <li>@Html.ActionLink("List Users", "ListUsers", "Admin", routeValues: null, htmlAttributes: new { id = "listUsersLink" })</li>
       		 <li>@Html.ActionLink("Add User", "GetAddUsersFormHtml", "Admin", routeValues: null, htmlAttributes: new { id = "addUserLink" })</li>
			</ul>
		}
	}
		<div class="col-xs-6" style="width:75%" >
		<div class="well" id="usersBox">
			<p id = "usersBox2"></p>
		</div>
		</div>
	</div>
</div>


<!-- jquery-ui dialog html
<div id = "dialog-form" title = "Add new User" >
	<p class = "validateTips">All fields are required.</p>

	<form>
		<fieldset style="padding:0; border:0; margin-top:25px; ">
			<label for="name" style="display:block;">Name</label>
			<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" >
			<label for="email">Email</label>
			<input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
			<label for="password" >Password</label>
			<input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all">

			 Allow form submission with keyboard without duplicating the dialog button 
      		<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	</form>

</div>-->