﻿<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>@ViewBag.Title - Istoriki Ekpaideusi</title> 
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("AddToHead"))
       {
           @RenderSection("AddToHead", required: false)
       }
</head> 

<body> 
    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container"> 
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button> 
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) 
            </div> 
            <div class="navbar-collapse collapse"> 
                <ul class="nav navbar-nav"> 
                    <li>@Html.ActionLink("Home", "Index", "Home")</li> 
                    <li>@Html.ActionLink("About", "About", "Home")</li> 
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li> 
                    <li>@Html.ActionLink("Courses", "Courses", "Home")</li>
                    <li>@Html.ActionLink("Tests", "Tests", "Home")</li>
					@if(User.IsInRole("admin"))
					{
						<li>@Html.ActionLink("Courses", "Manage Courses", "ManageCourses")</li>
					}
                </ul> 
                @Html.Partial("_LoginPartial") 
            </div> 
        </div> 
    </div>
    <div class="container body-content"> 
        @RenderBody() 
		@Html.Partial("_UserMenu")
        <hr /> 
        <footer> 
            <p>&copy; @DateTime.Now.Year - Ekpaideutiko Logismiko</p> 
        </footer> 
    </div> 
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui") 
    @Scripts.Render("~/bundles/bootstrap") 
    @RenderSection("scripts", required: false) 
</body> 
</html> 