﻿@using System.Collections.Generic
@model trainer4.Model.UserMenuViewModel
@using Microsoft.AspNet.Identity
@using trainer4

@if(User.Identity.IsAuthenticated){
if(RoleChecker.IsUserInRole(User.Identity.GetUserId(), "admin")){
<ul class="nav nav-tabs nav-stacked navbar-collapse" style="width:20%">
        <li>@Html.ActionLink("Manage Users", "ManageUsers", "Admin", routeValues: null, htmlAttributes: new { id = "manageUsersLink" })</li>
        <li>@Html.ActionLink("Manage Courses", "ManageCourses", "Admin", routeValues: null, htmlAttributes: new { id = "manageCoursesLink" })</li>
</ul>

}

if(RoleChecker.IsUserInRole(User.Identity.GetUserId(), "teacher")){
<ul class="nav nav-tabs nav-stacked navbar-collapse" style="width:20%">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}

if(RoleChecker.IsUserInRole(User.Identity.GetUserId(), "student")){
<ul class="nav nav-tabs nav-stacked navbar-collapse" style="width:20%">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
}