﻿@{ 
    ViewBag.Title = "Courses"; 
} 
@Scripts.RenderFormat("<script src='{0}' defer></script>","~/Scripts/ajaxGetCourse.js")

<br>
<br>
<h2>@ViewBag.Title.</h2> 
<h3>@ViewBag.Message</h3> 

<p>This is where the courses appear...</p>
 
<div class="container">
	<div class="row">
		<div class="col-xs-6" style="width:20%">
		<div class="well">
			<ul style="list-style:none;" id="courseLinks">
				<li><button type="button" class="btn btn-link" id="Course1">Course1</button></li>
				<li><a href = "/Courses/Course2">Course2</a></li><br>
				<li><a href = "/Courses/Course3">Course3</a></li><br>
				<li><a href = "/Courses/Course4">Course4</a></li>
			</ul>
		</div>
		</div>
		<div class="col-xs-6" style="width:75%" >
		<div class="well" id="courseBox">
			<p id = "courseBox2"></p>
		</div>
		</div>
	</div>
</div>
