﻿@{ 
    ViewBag.Title = "Tests"; 
} 
<br>
<br>
<h2>@ViewBag.Title.</h2> 
<h3>@ViewBag.Message</h3> 

<p>This is where the tests appear...</p> 

<div class="well" style="width:20%">
<ul style="list-style:none;">
<li>Test1</li><br>
<li>Test2</li><br>
</ul>
</div>